services:
  php:
    image: php:8.2-cli
    working_dir: /app
    volumes:
      - .:/app
    command: vendor/bin/phpunit --testsuite Unit

  composer:
    image: composer:2
    working_dir: /app
    volumes:
      - .:/app
    command: install --no-interaction
